<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap-grid.min.css.map" rel="stylesheet" type="text/css" />
   <link href="~/css/style.css" rel="stylesheet"type="text/css"/>
</head>
<body>
    <header>
       <nav class="navbar navbar-expand-md navbar-dark bg-dark">
           <a class="navbar-brand" href="#"></a>
           <button class="navbar-toggler" type="button" data-target="#navbarCollapse" aria-controls="navbarCollapse">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-colapse" id=" navbarCollapse">
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item active">
                       <a class="nav-link" asp-controller="Home" asp-action="Index">Головна</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/Shoes/List">Взуття</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/Shoes/List/boots">Черевики</a>
                   </li>
                   <li class="nav-item">
                   <a class="nav-link" href="/Shoes/List/kross">Кросівки</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/ShopCart/">Корзина</a>
                   </li>
               </ul>
               <form class="form-inline mt-2 mt-md-0">
                   <input class="form-control mr-sm-2" type="text" placeholder="Пошук" aria-label="Search" />
                   <button class="bth bth-outline-success my-2 my-sm-0" type="submit">Пошук</button>
               </form>
           </div>
       </nav>
    </header>
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
    </div>
    <script src="~/js/bootstrap.min.js.map"></script>
</body>
</html>
